[defaults]
inventory = inventory/example/hosts.yml
roles_path = roles
# community.general.yaml was removed in community.general 12.0.0, superseded by
# ansible.builtin.default with callback_result_format=yaml (see ansible-core changelog).
stdout_callback = default
callback_result_format = yaml
nocows = 1
interpreter_python = auto_silent

[privilege_escalation]
become = False
